import json

from splunklib.client import Endpoint
from splunklib.binding import ResponseReader
from typing import List

from tests.ucc_modinput_functional.splunk.client.client import SplunkClient

class KVStoreClient:
    def __init__(self, splunk_client: SplunkClient):
        self.splunk_service = splunk_client.splunk

    def get_kv_store_checkpoint(self, user_name: str, app_name: str, collection_name: str) -> List:
        kvstore_path = f"/servicesNS/{user_name}/{app_name}/storage/collections/data/{collection_name}"
        kvstore_endpoint = Endpoint(self.splunk_service, kvstore_path)
        response = ResponseReader(kvstore_endpoint.get()['body']).read()
        return json.loads(response.decode('utf-8'))