"""
Note:
    This file is under the control of the ucc-test-modinput CLI tool and must
    not be modified manually by developers. If an extension is needed or a
    method needs to be redefined, it should be done in a separate file.
"""

import json
from typing import Any, Dict, List, Optional
from splunk_add_on_ucc_modinput_test.functional.splunk.client import (
    SplunkClientBase,
)
from swagger_client.rest import ApiException
import logging

logger = logging.getLogger("ucc-modinput-test")


class SplunkApiError(Exception):
    def __init__(self, error: ApiException):
        self.api_exception = error

    @property
    def status(self) -> int:
        return int(self.api_exception.status)

    @property
    def reason(self) -> str:
        return self.api_exception.reason

    @property
    def body(self) -> bytes:
        return self.api_exception.body

    @property
    def json(self) -> Optional[Dict[str, Any]]:
        try:
            return json.loads(self.api_exception.body)
        except json.JSONDecodeError:
            return None

    @property
    def error_message(self) -> Optional[str]:
        json_body = self.json
        if json_body:
            return json_body.get("messages", [{}])[0].get("text")
        return None


class ManagedSplunkClient(SplunkClientBase):
    _OUTPUT_MODE = "json"
