<!--
Document add-on specific information related to the functional tests here.
Particularly:
1) how should vendor product be prepared or reference to relevant documentation
2) what vendor and test specific environment variables should be exported
-->

# addonfactory-ucc-test

If you want to learn more about testing framework used to generate `ucc_modinput_functional` tests, visit the [documentation](https://splunk.github.io/addonfactory-ucc-test).